<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" appEmailValidator>
      <mat-error>Email is not correct</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username"
        appUserNameValidator>
      <mat-error>Username contains forbidden characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput minlength="6"
        [type]="hidePass ? 'password' : 'text'" placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>Password must have at least 6 characters</mat-error>
    </mat-form-field>
  </form>
  <div class="reset-password">
    <a (click)="resetPassword()">Reset Password</a>
  </div>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary" [disabled]="!authForm.valid"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
</div>