<mat-card [class.deleted]="comment.isDeleted">
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="isUserAuthor" class="buttons-container">
      <button *ngIf="!onEdit && !comment.isDeleted" mat-icon-button color="primary" (click)="changeEditState()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button *ngIf="onEdit && !comment.isDeleted" mat-icon-button color="primary" (click)="changeEditState()">
        <mat-icon aria-label="Done">done_outlined</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="changeVisability()">
        <mat-icon aria-label="Delete" *ngIf="!comment.isDeleted">delete</mat-icon>
        <mat-icon aria-label="Delete" *ngIf="comment.isDeleted">restore</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!onEdit">{{comment.body}}</p>
    <mat-form-field *ngIf="onEdit">
      <textarea [(ngModel)]="comment.body" matInput placeholder="Update your comment"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="!onEdit && !comment.isDeleted" class="actions-buttons" align="end">
    <app-users-likes-list [users]="usersWhoLikedComment()">

    </app-users-likes-list>
    <button mat-icon-button color="primary" (click)='dislikeComment()'>
      <mat-icon [matBadge]="dislikeCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikeCount() === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)='likeComment()'>
      <mat-icon [matBadge]="likeCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likeCount() === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>