<h3>Share this post</h3>
<div>
    <div>
        <h4>Via link</h4>
        <input readonly value="http://localhost:4200/#{{data.postId}}">
    </div>
    <div>
        <h4>Via email</h4>
        <input (change)="this.email = $event.target.value" placeholder="Email">
        <button (click)="shareByEmail()">Share</button>
    </div>
</div>