<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            .body {
                width: 100%;
                height: 100%;
                background: whitesmoke;
                padding-bottom: 20px;
            }

            .header {
                background: #607d8b;
                height: 50px;
                width: 100%;
                padding: 10px;
            }

            img {
                height: 40px;
                width: 50px;
            }

            .header img, h1 {
                display: inline;
            }

            .header h1 {
                color: white;
            }

            h1, h2, h3, h4, h5, h6, p, a {
                font-family: Verdana;
                color: rgba(0, 0, 0, 0.87);
            }

            p, a {
                font-size: 14px;
            }

            .main {
                width: 75%;
                margin: auto;
                padding: 40px;
                background: white;
            }

            .main * {
                margin-top: 5px;
            }

            .button {
                text-decoration: none;
                background-color: #607d8b;
                margin: auto;
                width: 40%;
                text-align: center;
                border-radius: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
                .button a {
                    color: white;
		    text-decoration: none;
                }

            .footer {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="body">
            <div class="header">
                <img src="https://i.imgur.com/1SLVpYT.png" alt="">
                <h1>Thread .NET</h1>
            </div>
            <div class="main">
                <h4>Hi, {{userName}}</h4>
                <p>{{emailBody}}</p>
                <br>
                <div class="button" >
                    <a href="{{buttonLink}}">{{buttonText}}</a>
                </div>
                <br>
                <p class="footer">Thread .NET support </p>
            </div>
        </div>
    </body>
</html>