<h3>Password reset</h3>
<div>
    <p>This action is irrevocable. If you reset your password once, you can never use old password</p>
    <p>If you'r agree with this statement input your email and press "Reset"</p>
    <div>
        <input placeholder="Email" (change)="this.email = $event.target.value">
        <button (click)="reset()">Reset</button>
    </div>
</div>