button
    width: 40%
    height: 30px
    margin-top: 10px 
    margin-left: 30%
    margin-right: 30%
    background-color: #607d8b
    border-radius: 5px
    border: none
    color: white

input
    width: 100%
    border: 1px solid #607d8b
    height: 20px
    &:focus
        border: none
    &:active
        border: none

