<mat-card id='{{post.id}}' [ngClass]="{'post-with-comments': showComments}" [class.deleted]="post.isDeleted">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="isUserAuthor" class="buttons-container">
      <button *ngIf="!onEdit && !post.isDeleted" mat-icon-button color="primary" (click)="changeEditState()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button *ngIf="onEdit && !post.isDeleted" mat-icon-button color="primary" (click)="changeEditState()">
        <mat-icon aria-label="Done">done_outlined</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="changeVisability()">
        <mat-icon aria-label="Delete" *ngIf="!post.isDeleted">delete</mat-icon>
        <mat-icon aria-label="Delete" *ngIf="post.isDeleted">restore</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="imageUrl ? imageUrl : post.previewImage" mat-card-image
    src="{{imageUrl ? imageUrl : post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p *ngIf="!onEdit">{{post.body}}</p>
    <mat-form-field *ngIf="onEdit">
      <textarea [(ngModel)]="post.body" matInput placeholder="Update your comment"></textarea>
    </mat-form-field>
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button *ngIf="onEdit" mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
  </mat-card-content>
  <mat-card-actions *ngIf="!onEdit && !post.isDeleted" class="actions-buttons" align="end">
    <app-users-likes-list [users]="usersWhoLikedPost()">

    </app-users-likes-list>
    <button mat-icon-button color="primary" (click)='dislikePost()'>
      <mat-icon [matBadge]="dislikeCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikeCount() === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon [matBadge]="likeCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likeCount() === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="sharePost()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser">
    </app-comment>
  </div>
</mat-card>