<h3 mat-dialog-title class="title">Users, who like this</h3>
<div mat-dialog-content class="list-container">
    <ul>
        <li *ngFor="let user of data.users">
            <img [src]="user.avatar">
            <p>{{user.userName}}</p>
        </li>
    </ul>
</div>