<div class="liked-by-container" *ngIf="users.length > 0" (click)="openUserLikeList()">
    <p>Liked by: </p>
    <ul>
        <li *ngFor="let user of users">
            <img [src]="user.avatar">
        </li>
    </ul>
    <p *ngIf="users.length > 3">+ {{users.length - 3}} people</p>
</div>