.liked-by-container
    display: flex
    align-items: center

p 
    font-size: 12px

ul
    list-style: none
    padding-left: 15px
    padding-right: 15px

li 
    display: inline

img 
    height: 20px
    width: 20px
    object-fit: cover
    border-radius: 10px
    margin-right: 5px
